*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

@font-face {
  font-family: "Yu Gothic", serif;
  src: url(../libs/fonts/yugothib.ttf);
}
body {
  font-family: "Yu Gothic", serif;
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}

.wraper {
  width: 100%;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  padding: 8px 82px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
}

.text {
  font-size: 16px;
  color: #444444;
  font-weight: 700;
}
.text-nav {
  color: #ffffff;
  font-size: 18px;
  line-height: normal;
}
.text-heading {
  color: #333333;
  font-size: 42px;
  line-height: normal;
}
.text-title {
  font-size: 22px;
  line-height: normal;
  color: #333333;
}
.text-title-while {
  font-size: 22px;
  line-height: normal;
  color: #ffffff;
}
.text-desc {
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
}
.text-decs {
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}
.text-smail {
  font-size: 14px;
  line-height: normal;
}
.text-hero-title {
  font-size: 40px;
  line-height: normal;
  color: #ffffff;
}
.text-s18b {
  color: #000000;
  font-size: 18px;
  line-height: normal;
}

.header {
  margin-top: 20px;
}

.header-top {
  display: flex;
  align-items: center;
}
.header-logo {
  margin-right: 194px;
}
.header-title {
  margin-right: 136px;
}
.header-title a {
  font-family: "Noto Serif JP", serif;
  font-size: 22px;
  font-weight: 900;
  color: #333333;
  line-height: normal;
}
.header-title span {
  color: #D31818;
}

.logo {
  max-width: 161px;
  max-height: 60px;
  object-fit: cover;
}

.fujicco {
  max-width: 200px;
  max-height: 34px;
}

.navigation {
  background-color: #333333;
  margin-top: 20px;
}

.navigation-main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.menu {
  width: 733px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-item {
  list-style-type: none;
}

@media (hover: hover) {
  .menu-link:hover {
    color: #fe0000;
    transition: all 0.2s linear;
  }
}
.hero {
  background: url(../images/background.png) lightgray 50%/cover no-repeat;
  height: 700px;
}

.hero-main {
  padding-top: 487px;
}
.hero-heading {
  background: rgba(254, 0, 0, 0.6);
  padding: 5px 0;
  position: absolute;
  left: 0;
  padding-left: 50%;
  transform: translateX(-600px);
}
.hero-desc {
  background: rgba(0, 0, 0, 0.8);
  padding: 6px 0;
  position: absolute;
  left: 0;
  top: 95px;
  padding-left: 50%;
  transform: translateX(-600px);
}
.hero-title {
  position: relative;
}

.hero2 {
  background: url(../images/background2.png) lightgray 50%/cover no-repeat;
  height: 720px;
}

.hero-main {
  position: relative;
}
.hero-form {
  position: absolute;
  right: 0;
  top: 30px;
  transform: translateX(130px);
}

.form {
  border-radius: 3px;
  background: white;
  width: 400px;
  max-height: 640px;
  padding: 27px 30px;
}
.form-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-title h2 {
  color: #fe0000;
  font-family: Yu Gothic;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.form-button {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-button-link {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-button-link a {
  color: #1da5cf;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
}

.field {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.field-input {
  border: 1px solid #ddd;
  background: #fff;
  max-height: 44px;
  padding: 20px;
  border-radius: 3px;
}
.field label {
  color: #444;
  font-family: Yu Gothic;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.button {
  border-radius: 3px;
  background: #333;
  padding: 8px 82px;
}

.service {
  margin-top: 140px;
}

.service-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.service-heading::after {
  top: -50%;
  position: absolute;
  z-index: -1;
  content: "service";
  color: #f5f5f5;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  transform: translateY(45%);
}
.service-content {
  margin-top: 50px;
}
.service-list {
  display: flex;
  align-items: center;
  gap: 0 230px;
}
.service-item {
  position: relative;
}
.service-item::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 30px;
  right: 0;
  width: 3px;
  height: 95px;
  background-color: #333333;
  transform: translateY(-40%);
}
.service-icon {
  max-width: 370px;
  max-height: 300px;
  padding: 41px 75px;
  border-radius: 3px;
  background: #f8f8f8;
  margin-bottom: 28px;
}
.service-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.service-title {
  max-width: 440px;
  position: absolute;
  right: -120px;
  bottom: 0;
  top: -50px;
  transform: translateY(100%);
}
.service-title h3 {
  margin-bottom: 13px;
}

.test {
  margin-top: 260px;
}

.feature {
  margin-top: 260px;
  background: #f8f8f8;
}

.feature-main {
  position: relative;
  z-index: 99;
}
.feature-main::after {
  content: " ";
  width: 381px;
  height: 795px;
  top: 0;
  transform: skew(-29.792deg);
  background: #f2f2f2;
  flex-shrink: 0;
  position: absolute;
  left: 21%;
  z-index: -1;
}
.feature-heading {
  padding-top: 106px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 99;
}
.feature-heading::before {
  top: 115px;
  position: absolute;
  content: "feature";
  color: #e8e8e8;
  font-size: 60px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  z-index: -1;
}
.feature-content {
  margin-top: 50px;
}
.feature-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0 50px;
}
.feature-item {
  background: #fff;
  padding: 26px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 19px;
  text-align: center;
}
.feature-icon i {
  color: #fe0000;
  font-family: IcoFont;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.feature-desc p {
  color: #444;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
}
.feature-botton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 88px;
  padding-bottom: 126px;
}
.feature-link a {
  color: #fe0000;
  font-size: 20px;
  font-weight: 700;
  text-decoration-line: underline;
  text-transform: uppercase;
}
.feature-link span {
  margin: 0 26px;
  color: #a7a7a7;
  font-family: Yu Gothic;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.feature-text {
  color: #333;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.6666666667;
  text-transform: uppercase;
}

@media (hover: hover) {
  .feature-item:hover {
    background: white;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.2s linear;
  }
}
.feature {
  margin-top: 260px;
  background: #f8f8f8;
}

.feature2-main {
  position: relative;
  z-index: 99;
  padding-bottom: 146px;
}
.feature2-main::after {
  content: " ";
  width: 381px;
  height: 692px;
  top: 0;
  transform: skew(-29.792deg);
  background: #f2f2f2;
  flex-shrink: 0;
  position: absolute;
  left: 21%;
  z-index: -1;
}

.experience {
  margin-top: 118px;
}

.experience-main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.experience-heading {
  position: relative;
  z-index: 99;
}
.experience-heading::before {
  top: 6px;
  left: 50%;
  position: absolute;
  content: "experience";
  color: #e8e8e8;
  font-size: 60px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  z-index: -1;
  transform: translateX(-50%);
}
.experience-content {
  margin-top: 126px;
}
.experience-list {
  max-width: 841px;
  max-height: 274px;
  background: #ededed;
}
.experience-item {
  padding: 81px 122px;
}
.experience-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.experience-text {
  color: #c4c4c4;
  font-family: Yu Gothic;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.cta {
  background: #d31818;
  margin-top: 110px;
}

.cta-main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px 0;
}
.cta-text {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
  text-transform: uppercase;
}
.cta span {
  margin: 0 22px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 22px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.experience2-content {
  margin-top: 65px;
  display: flex;
  justify-content: space-between;
  gap: 0 125px;
  padding-bottom: 97px;
}
.experience2-left {
  max-width: 370px;
  max-height: 390px;
}
.experience2-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px 0;
}
.experience2-item {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 0 30px;
  margin-bottom: 40px;
  position: relative;
}
.experience2-img {
  max-width: 200px;
  max-height: 200px;
}
.experience2-img img {
  border-radius: 100rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.experience2-heading {
  border-radius: 5px;
  border: 2px solid #ddd;
  background: #fff;
  padding: 23px 30px 23px 30px;
}
.experience2-heading h3 {
  margin-bottom: 11px;
}
.experience2-heading p {
  max-width: 410px;
  max-height: 78px;
}
.experience2-triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 20px solid #DDDDDD;
  border-bottom: 10px solid transparent;
  top: 50%;
  left: 26.8%;
  transform: translateY(-50%);
}

.customer {
  margin-top: 116px;
}

.customer-main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 154px;
}
.customer-heading {
  position: relative;
  z-index: 99;
}
.customer-heading::before {
  top: 6px;
  left: 50%;
  position: absolute;
  content: "Customer";
  color: #e8e8e8;
  font-size: 60px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  z-index: -1;
  transform: translateX(-50%);
}
.customer-content {
  margin-top: 56px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 30px 30px;
}
.customer-logo {
  max-width: 170px;
  max-height: 100px;
  border: 1px solid #ededed;
  background: #fff;
  padding: 16px 5px;
}
.customer-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fsqs {
  background: url(../images/fsqs-bg.png), lightgray 50%/cover no-repeat;
}

.fsqs-main {
  padding-top: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.fsqs-heading {
  position: relative;
  z-index: 99;
}
.fsqs-heading::before {
  top: 6px;
  left: 50%;
  position: absolute;
  content: "fsqs";
  color: #e8e8e8;
  font-size: 60px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  z-index: -1;
  transform: translateX(-50%);
}
.fsqs-content {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 88px;
}
.fsqs-list {
  width: 970px;
}
.fsqs-item {
  border-bottom: 2px solid #000000;
  padding-bottom: 35px;
  padding-top: 40px;
}
.fsqs-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fsqs-icon i {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.fsqs-hidden {
  margin-top: 16px;
  display: none;
}
.fsqs-hidden p {
  max-width: 950px;
}
.fsqs-hidden span {
  color: #fe0000;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
}

.is-show {
  display: block;
}

.footer {
  background: #333;
}

.footer-content {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-item {
  list-style-type: none;
}
.footer-link {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/*# sourceMappingURL=app.css.map */
