.hero {
  background: url(../images/background.png) lightgray 50% / cover no-repeat;
  height: 700px;
}
.hero {
  &-main {
    padding-top: 487px;
  }
  &-heading {
    position: relative;
    background: rgba(254, 0, 0, 0.6);
    padding: 5px 0;
    margin-bottom: 20px;
    display: inline-block;
  }
  &-desc {
    background: rgba(0, 0, 0, 0.8);
    padding: 6px 0;
    display: inline-block;
  }
  &-title {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
}
