@font-face {
  font-family: "Yu Gothic", serif;
  src: url(../libs/fonts/yugothib.ttf);
}

$font-secondary: "Noto Serif JP", serif;
$font-primary: "Yu Gothic", serif;
$red-color:  #D31818;
$red-smail : #fe0000;
$while-color: #ffffff;
$text-primary: #333333;
$text-sencondary: #444444;
$black-color :#000000;
